---
import Layout from "../../layouts/MarkdownAbout.astro";

import { getEntry } from "astro:content";

export async function getStaticPaths() {
  return [{ params: { lang: "es" } }, { params: { lang: "en" } }];
}

const { lang } = Astro.params;
const entry = await getEntry("about", lang);

if (!entry) {
  throw new Error(`About content not found for language: ${lang}`);
}

const { Content } = await entry.render();
const { title, description, image } = entry.data;
---

<Layout frontmatter={{ title, description, image }}>
  <div
    class="prose dark:prose-invert max-w-none text-blacktext dark:text-gray-200"
  >
    <Content />
  </div>
</Layout>
